.article__photoProfile {
    border-radius: 50%;
    margin-top: 15px;
}

.article__welcome {
    color: #c6c5b9;
    background-color: #393d3f;
    text-align: center;
    max-width: 250px;
    padding: 10px;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 50px -20px rgb(247, 247, 248);
}

.article__emoji {
    font-size: 30px;
}

.article__heading {
    color: #fdfdff;
    background-color: #393d3f;
    padding: 8px;
    max-width: 200px;
    font-size: 25px;
    margin: 0px 15px -24px;
    position: relative;
}

.article__paragraph {
    background-color: #62929ed8;
    color: #fffffb;
    padding: 40px 20px;
    margin: 0px 0px 20px;
}
.article__photos {
    text-align: center;
    width: auto;
}

.article__photos--hidden {
    display: none;
}

.article__image {
    max-width: 100%;
    text-align: center;
    border-radius: 20%;
    margin: 10px auto;
}

.article__drawings {
    text-align: center;
    width: auto;
}

.article__drawings--hidden {
    display: none;
}

.article__button {
    cursor: pointer;
    background-color: #c6c5b9;
    font-weight: 600;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.article__button:hover {
    box-shadow: 0px 0px 15px 0px;
    transition-duration: 1s;
}