.article__heading {
    color: #fdfdff;
    background-color: #171819;
    padding: 8px;
    max-width: 200px;
    font-size: 25px;
    margin: 0px 15px -24px;
    position: relative;
}

.article__paragraph {
    background-color: #62929e9e;
    color: #fffffb;
    padding: 40px 20px;
    margin: 0px 0px 20px;
}
.article__photos {
    text-align: center;
    width: auto;
}

.article__photos--hidden {
    display: none;
}

.article__image {
    max-width: 100%;
    text-align: center;
    border-radius: 20%;
    margin: 10px auto;
}

.article__drawings {
    text-align: center;
    width: auto;
}

.article__drawings--hidden {
    display: none;
}

.article__button {
    cursor: pointer;
    background-color: #c6c5b9;
    font-weight: 600;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.article__button:hover {
    box-shadow: 0px 0px 15px 0px;
    transition-duration: 1s;
}