html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.button {
    font-family: 'Josefin Sans', sans-serif;
    width: 150px;
    font-size: 20px;
    background-color: #83739c;
    color: white;
    border-radius: 10px;
    margin: auto;
}
